<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="NathanDoesMuch: Nathan Moore, follow my social media plaforms." />
<meta name="author" content="NathanDoesMuch">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>NathanDoesMuch: Nathan Moore</title>

<link rel="stylesheet" type="text/css" href="https://www.nathandoesmuch.com/static/css/main.css">
<link rel="stylesheet" href="../static/css/fonts/fontello/css/fontello.css">

<link rel="icon" type="image/png" href="../static/images/profile.jpeg" sizes="32x32">
<link rel="icon" type="image/png" href="../static/images/profile.jpeg" sizes="128x128">
<link rel="icon" type="image/png" href="../static/images/profile.jpeg" sizes="192x192">
<link rel="shortcut icon" type="image/png" href="../static/images/profile.jpeg" sizes="196x196">
<link rel="apple-touch-icon" href="../static/images/profile.jpeg" sizes="152x152">
<link rel="apple-touch-icon" href="../static/images/profile.jpeg" sizes="180x180">
<meta name="application-name" content="nathandoesmuch.com" />

<meta name="theme-color" content="#142933" />
<meta name="msapplication-navbutton-color" content="#142933">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<meta property="og:title" content="NathanDoesMuch: Nathan Moore">
<meta property="og:description" content="NathanDoesMuch: Nathan Moore, follow my social media plaforms.">
<meta property="og:image" content="profile.jpeg">
<meta property="og:image:type" content="image/png">
<meta property="og:author" content="NathanDoesMuch">
<meta property="article:author" content="NathanDoesMuch">
<meta property="og:site_name" content="NathanDoesMuch: Nathan Moore">
<meta property="og:type" content="article">
<meta property="og:url" content="https://www.nathandoesmuch.com">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@NathanDoesMuch">
<meta name="twitter:creator" content="@NathanDoesMuch">
<meta name="twitter:title" content="NathanDoesMuch: Nathaniel Moore">
<meta name="twitter:description" content="NathanDoesMuch: The official portfolio and social media accounts for Nathaniel Moore.">
<meta name="twitter:image:src" content="../static/images/profile.jpeg">
    <style>
		body { background-color: black; }
		h1 { font-family: 'Playfair Display', cursive; font-weight: 400; }
    </style>
</head>

<body class="is-text-light is-text-align-center">
    <div class="content-wrap">
        <div class="content">
            <img class="profile-image big soft-rounded" src="../static/images/profile.jpeg" alt=""/>
            <h3>
                <p>Follow my social media plaforms.</p>
                <a class="button huge bold aqua" href="https://www.twitter.com/NathanDoesMuch" target="_blank"><i class="icon-twitter"></i></a>
                <a class="button huge bold leather" href="https://www.instagram.com/NathanDoesMuch" target="_blank"><i class="icon-instagram"></i></a>
                <a class="button huge bold yellow" href="https://www.snapchat.com/add/NathanDoesMuch" target="_blank"><i class="icon-snapchat"></i></a>
            </h3>
        </div>
    </div>
    <script src="../static/js/main.js" type="202386d60e54e002a06335b6-text/javascript"></script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="202386d60e54e002a06335b6-|49" defer=""></script>
</body>

</html>